body {
  -webkit-tap-highlight-color: #ffc30d;
  background: url(../images/body.gif) center top repeat #edf0f0;
  color: #3a3a3a;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  min-width: 1250px;
}

.layout {
  max-width: 1290px;
  margin: auto;
  background-color: #fff;
}

.banner_teaser {
  position: relative;

  &__image {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 1290px;
    margin: auto;

    img {
      width: 100%;
      height: 560px;
      object-fit: cover;
    }
  }

  &__info {
    position: absolute;
    height: 100%;
    width: 585px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);

    .content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      padding: 0 70px;

      h3 {
        position: relative;
        margin: 0;
        margin-bottom: 20px;
        font-weight: 700;
        color: #fff;
        font-size: 30px;

        &::after {
          content: "";
          position: absolute;
          background-image: url('https://livedemo00.template-help.com/drupal_51093/sites/all/themes/theme914/images/border-1.png');
          width: 200px;
          height: 4px;
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
          bottom: -10px;
        }
      }

      p {
        margin: 0;
        color: #fff;
        font-size: 14px;
        margin-bottom: 20px;
      }

      .banner_cta {
        a {
          text-decoration: none;
          padding: 11px 30px 12px;
          background-color: #ffc30d;
          color: #fff;
          font-size: 24px;
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }
  }
}


.view-content {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;

  .about_card {
    position: relative;
    width: 364px;
    background-image: url('https://livedemo00.template-help.com/drupal_51093/sites/all/themes/theme914/images/bg-1.png');

    &__info {
      padding: 32px 20px 32px 20px;

      h2 {
        margin: 0;
        text-align: center;
        margin-bottom: 1rem;
        text-align: center;

        a {
          text-decoration: none;
          font-size: 30px;
          color: #3a3a3a;
          font-weight: bolder;
          text-align: center;

          &:hover {
            color: #ffc30d;
          }
        }
      }

      p {
        margin: 0;
        color: #3a3a3a;
        font-size: 14px;
        margin-bottom: 1rem;
        text-align: center;
      }
    }

    &__cta {
      .links {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;

        li {
          list-style-type: none;
          margin: 0;
          padding: 0;

          a {
            text-decoration: none;
            color: #3a3a3a;
            background-color: #ffc30d;
            padding: 10px 25px 11px 25px;
            font-weight: 700;
          }
        }
      }
    }
  }
}


// MAVIGATION CUSTOM CSS

.horizontal {


  .main__navigation {


    .region-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      max-width: 1290px;
      margin: auto;

      .site-name {
        width: 300px;

        a {
          text-decoration: none;
          color: #3a3a3a;
          font-size: 1.5rem;
          font-weight: bolder;
          text-transform: uppercase;
        }
      }

      .site-logo {
        img {
          width: 225px;
          height: 50px;
          object-fit: cover;
        }
      }

      .site-slogan {
        font-size: 14px;
        color: #3a3a3a;
        margin-top: 1rem;
      }

      .menu {
        display: flex;
        gap: 20px;
        margin: 0;
        padding: 0;

        li {
          list-style-type: none;

          a {
            text-decoration: none;
            color: #3a3a3a;
          }
        }
      }
    }
  }
}

.vertical {
  .region-header {
    width: 300px;
    background-color: #3a3a3a;
    height: 100vh;
    position: fixed;
    top: 0;

    .site-name {
      width: 300px;
      text-align: center;
      padding: 2rem 0;

      a {
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        font-weight: bolder;
        text-transform: uppercase;
      }
    }

    .site-logo {
      display: flex;
      justify-content: center;
      margin-top: 1rem;

      img {
        width: 225px;
        height: 50px;
        object-fit: cover;
      }
    }

    .site-slogan {
      font-size: 14px;
      color: #fff;
      text-align: center;
    }

    .menu {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;
        padding: 1rem;

        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }

  .vertical__content {
    margin-left: 310px;
    margin-right: 16px;
    margin-top: 1rem;
  }
}