{#
/**
 * @file
 * Claro's theme implementation to display a single Drupal page.
 *
 * The doctype, html, head, and body tags are not in this template. Instead
 * they can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.pre_content: Items for the pre-content region.
 * - page.breadcrumb: Items for the breadcrumb region.
 * - page.highlighted: Items for the highlighted region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class={{ navbar }}>
	<header>
		{{ page.breadcrumb }}
		<div class="main__navigation">
			{{ page.header }}
		</div>
	</header>

	<div class="vertical__content">
		<div class="banner_teaser">
			<div class="banner_teaser__image">
				<img src="{{ coachingimage }}" alt="Banner Image">
			</div>
			<div class="banner_teaser__info">
				<div class="content">
					<h3>{{ coachheading }}</h3>
					<p>{{ coachdescription }}</p>
					<div class="banner_cta">
						<a href="#">{{ banner_cta }}</a>
					</div>
				</div>
			</div>
		</div>
		{{ page.pre_content }}
		<main class="page-content clearfix" role="main">
			<div class="visually-hidden">
				<a id="main-content" tabindex="-1"></a>
			</div>
			{{ page.highlighted }}
			{% if page.help %}
				<div class="help">
					{{ page.help }}
				</div>
			{% endif %}
			{{ page.content }}
		</main>
	</div>
</div>
